* {
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}

body {
	box-sizing: border-box;
	width: 100%;
	font-family: Montserrat, sans-serif;
	font-size: 16px;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
blockquote {
	margin: 0;
}

figure {
	margin: 0;
}

ul {
	padding: 0;
}

li {
	list-style-type: none;
}

.site-container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.block {
	display: block;
}
.inline {
	display: inline-block;
}
.line {
	vertical-align: middle;
}
.site-header {
	position: relative;
}

.site-header__top {
	position: absolute;
	z-index: 2;
	top: 0;
	width: 100%;
	flex-shrink: 0;
	padding-top: 26px;
}

.site-header__top .site-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.site-logo {
	font-size: 28px;
	font-weight: bold;
	color: #fff;
}

.site-nav__list {
	text-align: center;
}

.site-nav__list li {
	display: inline-block;
	padding: 0.75em 1.3em;
	list-style-type: none;
}

.site-nav__list li a {
	padding-bottom: 10px;
	text-decoration: none;
	text-transform: uppercase;
	color: white;
}

.site-nav__list li a:hover {
	color: #fce38a;
	border-bottom: 0.1875em solid #fce38a;
	-webkit-transition: 0.1s;
	transition: 0.1s;
}
.site-nav__list li:nth-child(n + 6) a {
	border: none;
}

.hero-slider {
	height: 100vh;
	max-height: max-content;
	background-image: linear-gradient(
			90deg,
			rgba(252, 227, 138, 0.85) 0%,
			rgba(243, 129, 129, 0.85) 100%
		),
		url(../img/header_bg.jpg);
	background-repeat: no-repeat, no-repeat;
	background-position: center, center;
	background-size: cover, auto;
	color: white;
}

.intro {
	position: relative;
	width: 800px;
	margin: 0 auto;
	margin-bottom: 70px;
	padding-top: 160px;
	text-align: center;
}

.intro h2 {
	margin-bottom: 25px;
	font-family: 'Kaushan Script', cursive;
	font-size: 72px;
	font-weight: normal;
}

.intro h3 {
	font-size: 150px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: -7px;
	line-height: 145px;
	margin-bottom: 60px;
}

.intro__btn {
	position: relative;
	display: inline-block;
	margin-top: 50px;
	padding: 11px 29px;
	font-size: 14px;
	text-transform: uppercase;
	border: 3px solid white;
	box-sizing: border-box;
	cursor: pointer;
}

.intro__btn::before {
	content: '';
	position: absolute;
	top: -50px;
	left: 0;
	right: 0;
	display: block;
	width: 60px;
	height: 3px;
	margin: 0 auto;
	background-color: #fff;
}

.slider-pagination.swiper-pagination {
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-wrap: nowrap;
	gap: 25px;
	width: 100%;
	padding-bottom: 25px;
}

.slider-pagination li.swiper-pagination-bullet {
	flex: 1;
	width: 278px;
	height: auto;
	margin-left: 0 !important;
	font-size: 20px;
	text-transform: uppercase;
	background-color: transparent;
	opacity: 0.5;
}

.slider-pagination li.swiper-pagination-bullet-active {
	opacity: 1;
}

.slider-pagination__progress {
	position: relative;
	width: 100%;
	height: 3px;
	margin-bottom: 25px;
	background-color: #fff;
}

.slider-pagination__progress-bar {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: transparent;
}

.slider-pagination
	li.swiper-pagination-bullet-active
	.slider-pagination__progress-bar {
	background-color: rgb(243, 129, 129);
	animation-name: progressBar;
	animation-duration: 3s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-direction: alternate;
	animation-fill-mode: forwards;
}

@keyframes progressBar {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

.slider-pagination__content {
	text-align: left;
}

.slider-pagination strong {
	font-size: 24px;
	padding-right: 8px;
}

.section {
	width: 100%;
	margin-bottom: 100px;
}

.section-header {
	margin-bottom: 80px;
	text-align: center;
}

.section-header h3 {
	font-family: 'Kaushan Script', cursive;
	font-size: 24px;
}

.section-header h4 {
	font-size: 30px;
	text-transform: uppercase;
	margin-top: 24px;
	margin-bottom: 40px;
}

.section-line {
	width: 60px;
	height: 3px;
	border: 0;
	background: rgb(243, 129, 129);
}

.section-text {
	margin-top: 45px;
	padding: 0 122px;
	font-size: 15px;
}

.about {
	padding-top: 100px;
}

.about-list {
	display: flex;
	gap: 20px;
	padding: 0;
}

.about-item {
	width: 380px;
	height: 250px;
}

.site-hovered-item {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(149, 225, 211);
}

.site-hovered-item:hover .site-hovered-item__content {
	transform: translate3d(-10px, -10px, 0);
}

.site-hovered-item:hover .site-hovered-item__img {
	opacity: 0.1;
}

.site-hovered-item:hover .site-hovered-item__heading {
	opacity: 1;
}

.site-hovered-item__content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	transition: transform 0.3s ease;
	background-image: linear-gradient(
		90deg,
		rgb(252, 227, 138) 0%,
		rgb(243, 129, 129) 100%
	);
}

.site-hovered-item__img {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: opacity 0.4s ease;
}

.site-hovered-item__heading {
	position: relative;
	text-align: center;
	color: #fff;
	opacity: 0;
	transition: opacity 0.6s ease;
}

.about-item__cuption {
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.2;
}

.facts {
	background-color: rgb(149, 225, 211);
}

.facts .site-container {
	display: flex;
	flex-wrap: nowrap;
}

.facts-item {
	flex: 1;
	flex-shrink: 0;
	padding: 89px 0 89px 0;
	text-align: center;
	color: white;
	border-right: 3px solid rgba(255, 255, 255, 0.302);
}

.facts-item:last-child {
	border-right: none;
}

.facts-num {
	display: block;
	font-size: 72px;
	font-weight: bold;
}

.facts-text {
	font-size: 14px;
	text-transform: uppercase;
}

.service-inner {
	display: flex;
	gap: 50px;
}

.service-divider {
	height: 1px;
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: rgb(229, 229, 229);
	border: none;
}

.service-item {
	flex: 1;
	display: flex;
	gap: 25px;
}

.service-description h5 {
	margin: 0 0 20px 0;
	color: #333;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}
.service-description p {
	color: #999;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
}

.feature {
	display: block;
	padding-top: 100px;
	background: url('../img/bg_feature.jpg') no-repeat center;
	background-size: cover;
}

.feature .site-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.feature .section-header {
	margin-bottom: 30px;
}

.feature-img {
	position: relative;
}

.feature-img__phone {
	position: absolute;
	right: -150px;
	bottom: -65px;
}

.directions-inner {
	display: flex;
	flex-wrap: nowrap;
	gap: 40px;
}

.directions-inner__img,
.directions-accordeon {
	flex: 1;
}

.directions-inner__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.directions-accordeon {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.directions-content__title {
	display: flex;
	align-items: center;
	gap: 15px;
	padding: 13px 17px;
	text-transform: uppercase;
	font-size: 14px;
	list-style: none;
	cursor: pointer;
	border: 1px solid #ccc;
}

.directions-content__title img:first-child {
	flex-shrink: 0;
}

.directions-content span {
	flex: 1;
}

.directions-content__title img:last-child {
	flex-shrink: 0;
	margin-left: auto;
}

.directions-content p {
	padding: 19px;
	border: 1px solid #ccc;
	border-top: none;
	max-height: 170px;
	overflow: auto;
}

.quote {
	margin-bottom: 100px;
	background-color: rgb(248, 248, 248);
}

.quote-inner {
	position: relative;
}

.quote-nav {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	transform: translateY(-50%);
}

.quote-nav button {
	border: none;
	background-color: inherit;
	cursor: pointer;
}

.quote-arrow__left {
	padding: 55px 0;
}

.quote-arrow__right {
	margin-left: 25px;
	padding: 55px 0;
}

.quote-item {
	display: flex;
	padding: 65px 25px;
}

.guote-speech {
	padding-left: 70px;
}

.quote-content {
	margin-left: 60px;
	width: 800px;
	font: italic 24px Roboto;
	text-align: left;
	color: rgb(153, 153, 153);
}

.quote-content__text {
	margin-bottom: 30px;
}

.quote-content__sign {
	font-family: 'Kaushan Script', cursive;
	font-size: 24px;
	color: black;
}

.quote-content__sign img {
	vertical-align: middle;
}
.quote-content__sign p {
	display: inline-block;
}

.team-list {
	display: flex;
	gap: 20px;
}

.team-item {
	width: 380px;
}

.team-item__content {
	width: 100%;
	height: 470px;
	margin-bottom: 30px;
}

.team-item__name {
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	color: rgb(51, 51, 51);
	margin-bottom: 10px;
}

.team-item__position {
	text-align: center;
	font-size: 15px;
	font-family: 'Roboto';
	font-style: italic;
}

.team-item__share {
	display: flex;
}

.team-item__link {
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	width: 56px;
	height: 56px;
	color: rgb(243, 129, 129);
	background-color: rgb(252, 227, 138);
	border: 1px solid rgb(243, 129, 129);
	transition: color 0.3s ease;
}

.team-item__link:hover {
	color: #fff;
	background-color: rgb(243, 129, 129);
}

.logos {
	margin-bottom: 100px;
	background-color: rgb(248, 248, 248);
}
.logos-content {
	padding: 50px 0 50px 10px;
}

.work-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: repeat(2, 390px);
	padding: 0;
}

.work-item:hover .site-hovered-item__content {
	transform: none;
}

.work-item--third {
	grid-row: span 2;
}

.tetimonial {
	padding: 65px 25px;
}
.tetimonial button {
	border: none;
	cursor: pointer;
	background-color: transparent;
}
.tetimonial-arrow_left {
	padding: 95px 0;
}

.tetimonial-img {
	padding-left: 40px;
}

.tetimonial-text {
	margin-left: 60px;
	padding-top: 35px;
	width: 790px;
	font: italic 24px Roboto;
	text-align: left;
	color: rgb(153, 153, 153);
}

.tetimonial-text p {
	margin-bottom: 30px;
}

.tetimonial-sign {
	font-family: 'Kaushan Script', cursive;
	font-size: 24px;
	color: black;
}

.tetimonial-sign img {
	vertical-align: middle;
}
.tetimonial-sign p {
	display: inline-block;
}

.tetimonial-arrow_right {
	margin-left: 25px;
	padding: 95px 0;
}

.testimonials {
	padding: 100px 0;
	background: url(../img/peopleSay_bg.jpg) no-repeat center / cover;
}

.testimonials-inner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 70px;
}

.testimonials-item {
	display: flex;
	position: relative;
	gap: 40px;
}
.testimonials-img {
	flex-shrink: 0;
	width: 110px;
	height: 110px;
	object-fit: cover;
	border-radius: 100%;
	overflow: hidden;
}

.testimonials-content {
	/* padding-left: 140px; */
}

.testimonials-content h5 {
	margin: 0;
	margin-bottom: 15px;
	font-size: 14px;
	color: rgb(51, 51, 51);
	text-transform: uppercase;
}
.testimonials-content span {
	display: block;
	margin-bottom: 17px;
	font-size: 15px;
	font-family: 'Roboto';
	color: rgb(51, 51, 51);
	font-style: italic;
	line-height: 1.6;
}
.testimonials-content__img {
	margin-bottom: 25px;
}
.testimonials-content p {
	font-family: 'Roboto';
	font-size: 15px;
	line-height: 1.6;
	color: rgb(153, 153, 153);
	text-align: left;
}

.blog {
	/* margin-bottom: 110px; */
}
.blog-inner {
	display: flex;
	flex-wrap: nowrap;
	gap: 30px;
}
.blog-item {
	flex: 1;
}

.blog-item__img {
	position: relative;
	margin-bottom: 20px;
}

.blog-item__date {
	position: absolute;
	top: 160px;
	left: -10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 70px;
	color: #fff;
	background-color: rgb(149, 225, 211);
}

.blog-item__date__day {
	font-size: 30px;
	font-weight: 900;
}

.blog-item__date__month {
	font-size: 12px;
	text-transform: capitalize;
	font-style: italic;
}

.blog-item__title {
	margin-bottom: 20px;
	color: #333;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}
.blog-item__text {
	margin-bottom: 40px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
	font-family: 'Roboto', sans-serif;
	color: rgb(153, 153, 153);
	line-height: 1.6;
	text-align: left;
}
.blog-item__activity img {
	margin-right: 7px;
}
.blog-item__activity p {
	margin-right: 19px;
}

.contacts {
	background: url(../img/map_bg.jpg) no-repeat top left;
}
.contacts-inner {
	padding: 47px 0;
	text-align: center;
}
.contacts-inner a {
	text-decoration: none;
	font-size: 24px;
	font-family: 'Montserrat';
	color: rgb(243, 129, 129);
	font-weight: bold;
	text-transform: uppercase;
}
.contacts-ico {
	margin-bottom: 20px;
}
.contacts-line {
	margin-top: 20px;
}

.footer {
	padding-top: 70px;
	background-color: rgb(248, 248, 248);
}
.footer-inner {
	display: flex;
	flex-wrap: nowrap;
	margin-bottom: 67px;
}

.footer-info {
	box-sizing: border-box;
	width: 480px;
	padding-right: 49px;
}
.footer-logo {
	margin-bottom: 40px;
	color: #ccc;
	font-size: 46px;
	font-weight: 700;
}
.footer-info__text {
	margin-bottom: 30px;
	font-family: Roboto, sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.6;
	color: rgb(153, 153, 153);
	text-align: left;
}
.footer-info__followers {
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 15px;
}
.footer-info__socials {
	margin-bottom: 33px;
	padding-left: 0;
}
.footer-info__socials li {
	display: inline-block;
	padding-left: 15px;
}
.footer-info__socials li:first-child {
	padding-right: 20px;
	padding-left: 0;
	color: #999;
	font-size: 15px;
	font-weight: 300;
	font-style: italic;
	line-height: 24px;
}
.footer-instagram {
	width: 275px;
}
.form-field {
	width: 230px;
	height: 40px;
	padding-left: 13px;
	border: 1px solid rgb(204, 204, 204);
	border-right: none;
	font-size: 15px;
	font-family: 'Roboto';
	color: rgb(204, 204, 204);
	font-style: italic;
	line-height: 1.6;
	text-align: left;
}
.form-subscribe {
	width: 150px;
	height: 40px;
	border: none;
	background-color: rgb(149, 225, 211);
	cursor: pointer;
	font-size: 14px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

.footer-blogs {
	width: 430px;
	padding-top: 6px;
}
.footer-blogs_box {
	margin-bottom: 31px;
}
.footer-blogs .footer-blogs_box:nth-child(4) {
	margin-bottom: 0;
}
.footer-blogs__title,
.footer-instagram__title {
	margin-bottom: 40px;
	color: #333;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}
.blogs-text_box {
	vertical-align: top;
	padding: 15px 0 0 20px;
}
.blogs-text_box a {
	text-decoration: none;
}
.footer-blogs_box-paragraph {
	width: 240px;
	margin-bottom: 10px;
	color: #333;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
}
.footer-blogs_box-date {
	font-style: italic;
}

.footer-instagram {
	padding-top: 6px;
}
.footer-instagram__link {
	padding-top: 17px;
	text-decoration: none;
	font-size: 13px;
	font-family: 'Roboto';
	color: rgb(51, 51, 51);
	font-style: italic;
	line-height: 1.846;
	text-align: left;
}

.copy {
	padding-top: 22px;
	padding-bottom: 22px;
	border-top: 1px solid rgb(229, 229, 229);
}
.copy p {
	width: 400px;
	margin: 0 auto;
}
.copy a {
	text-decoration: none;
	color: rgb(243, 129, 129);
}
